*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif !important;
}body{
background: #fff;
}ul{
    list-style: none;
}.logo{
  width: 140px;
}#map{
    width: 100%;
    height: 250px;
}.button_menu, .buscar input{
    right: 0px;
    transition: 0.9s;
}.button_menu > button{
    height: 55px;
    font-size: 30px;
    color: #878787 !important;
}.header{
    height: 65px;
}
.header , .buscar{
    width: 100%;
}
.button_menu:hover .dropdown-menu,.button_menu:focus .dropdown-menu{
   display: block;
   left: -125px;
   top: 90%;
}.btn-info{
    background: #4195f7 !important;
    border-color: #2a72c7 !important;
}.texr-info{
    color: #4195f7 !important;
}.sidebar.active {
    right: 0px;
}

.sidebar {
    min-width: 215px;
    width: 300px;
    background-color: #fff;
    background: linear-gradient( 90deg , rgba(255,255,255,1) 37%, rgba(250,250,250,1) 88%, rgba(247,243,243,1) 100%);
    padding-top: 25px;
    display: block;
    position: fixed;
    height: 100vh;
    top: 0px;
    right: -400px;
    transition: all .5s ease-in-out;
    z-index: 999;
    box-shadow: -4px 0px 5px -4px #a0a0a0;
}

.sidebar ul li {
    color: #212529;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 5px;
    margin-bottom: 5px;
font-size: 12px;}

.sidebar ul li:last-child {
    border-bottom: 0;
}

.sidebar ul li a {
    color: #212529;
    font-weight: 100;
}.sidebar .login{
    width: calc(50% - 10px);
}
.form-control{height: 40px !important;box-shadow: 2px 2px 2px -2px #ccc;font-size: 13px;margin-top: 10px;}
.block,.load{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 998;
}.block{
    background: #000;
    opacity: 0.25;
}.load{
    background: #fff;
}
.slide_top img{
    max-height: 300px !important;
}
.categories ul li {
    width: 100%;
    height: 90px;
    margin-bottom: 5px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    box-shadow: 0px 2px 1px #ddd;
}.categories ul li .icon{
    font-size: 40px;
}.home3 h3{
   color: #707070; 
}
.deliveries h1, .getlocation h1, .home3 h1{

    font-size: 24px;
    font-weight: 900;
    line-height: 1.42;
    letter-spacing: -0.24px;
    color: #ff3d3d;
    
}.deliveries .item .title{
    color: #3e3e3e;
    line-height: .875rem;
    display: block;
}
.deliveries .item .thumb{
    width: 20%;
    height: 100px;
    display: flex;
    align-items: center;
}
.deliveries .item .thumb img{
    max-width: 100%;
    max-height: 100%;
}.deliveries .item{
    display: flex;
    align-items: center;
    height: 100px;
}.getlocation {
    min-height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}.btn.red{
  color: #fff;
  background: #ff3d3d !important;  
}
.btn.red:hover{
    background: #ff2323 !important;  
  }.btn-rounded{
    border-radius: 10rem !important;
  }.adresses{
    position: relative;
    height: 120px;
  }.smartphone{
      
  }.smartphone img{
    max-width: 100%;
    max-height: 400px;
  }